<h2>Email address already exists.</h2>

<p>Either log in or create new account.</p>

<form class="" action="/users" method="post">
<p></p>
<!-- <input type="text" name="email" value="" placeholder="email">
<p></p> -->
<input type="text" name="email" value="" placeholder="email">
<p></p>
<input type="password" name="password" value="" placeholder="password">
<p></p>
<button>Submit</button>
</form>
