* {
  box-sizing: border-box;
}

body {
  background-color: mistyrose;
}

.banner {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.banner .logo {
  width: 400px;
  margin: 0;
  font-size: 30px;
  color: green;
  text-decoration: none;
}

h1 {
  margin 0;
  padding-top: 45px;
  height: 60px;
}

.log_box {
  width: 250px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.log_box a {
  margin-left: : 50px;
  }

hr {
width: 100%;
height: 4px;
margin-left: auto;
margin-right: auto;
background-color:#FF0066;
color:#FF0066;
border: 0 none;
}

.display_box {
  height: 200px;
  width: 200px;
}

.display_box a img {
  max-width: 100%;
    height: auto;
}

.place_name {
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.show_image {
  width: 500px;
  height: auto;
}

.edit_box {
  display: flex;
  flex-direction: column;
}

.edit_box button {
  width: 60px;
}



/**/
