<h2>Hello world</h2>

<% @places.each do |place| %>
<div class="display_box">
<a href="/places/<%= place.id %>"><img src="<%= place['image_url'] %>"></a>
  <a class="place_name" href="/places/<%= place.id %>">
    <%=  place.name %>
  </a>
</div>
<% end %>
