<h2>Hello world (intentional)</h2>

<div class="display_page">
  <% @places.each do |place| %>
  <div class="display_box">
    <div class="disp_img">
      <a href="/places/<%= place.id %>"><img src="<%= place['image_url'] %>"></a>
    </div>

    <div class="disp_name">
      <a class="place_name" href="/places/<%= place.id %>">
    <%=  place.name %>
    </a>
    </div>
  </div>
  <% end %>
</div>
