<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Destinations</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  <div class="banner">
    <a class ="logo" href="/"><h1>Destinations</h1></a>

    <div class="log_box">
      <a class="hover_here" href="/new_dest">Add New Destination</a>
      <% if logged_in? %>
        <!-- <%# if admin? %>
          logged in as admin
          <%# else %> -->
          logged in as <%= current_user.email %>
          <!-- <%# end %> -->
        <form class="" action="/session" method="post">
        <input type="hidden" name="_method" value="delete">
        <button>logout</button>
        </form>
      <% else %>
        <div></div>
        <a class="hover_here" href="/login">Login/Sign up</a>
      <% end %>

    </div>
  </div>
<hr>

  <%= yield %>

</body>
</html>
