<div class="log_in_page">
  <h2>Login</h2>

<form class="" action="/session" method="post">
<p></p>
<input type="text" name="email" value="" placeholder="email">
<p></p>
<input type="password" name="password" value="" placeholder="password">
<p></p>
<button class="hover_here colour">Login</button>
</form>

<h2>Create new account</h2>

<a href="/sign_up">
<button class="sign_up hover_here colour">Sign up</button>
</a>
</div>
