<h2>Add a new Destination</h2>

<form class="" action="/places" method="post">
  <div class="new_box">
    <input type="hidden" name="_method" value="">
    <!-- <label class="colour" for="">Name</label> -->
    <input type="text" name="name" value="" required size="50" placeholder="Name">
    <p></p>
    <!-- <label class="colour" for="">image url</label> -->
    <input type="text" name="image_url" value="" size="50" placeholder="Image url">
    <p></p>
    <!-- <label class="colour" for="">Locale</label> -->
    <input type="text" name="locale" value="" size="50" placeholder="Locale">
    <p></p>
    <!-- <label class="colour" for="">Description</label> -->
    <input type="text" name="description" value="" size="100" placeholder="Description">
    <p></p>
    <button class="hover_here colour" >Submit</button>
  </div>
</form>
