<h2>Add a new Destination</h2>

<form class="" action="/places" method="post">
  <div class="new_box">
    <input type="hidden" name="_method" value="put">
    <label for="">Name</label>
    <input type="text" name="name" value="">
    <p></p>
    <label for="">image url</label>
    <input type="text" name="image_url" value="">
    <p></p>
    <label for="">Locale</label>
    <input type="text" name="locale" value="">
    <p></p>
    <label for="">Description</label>
    <input type="text" name="description" value="">
    <p></p>
    <button>Submit</button>
  </div>
</form>
