<div class="sign_up_page_box">

<% if @new_user_marker ==1 %>
  <h2>Email address already exists.</h2>

  <p>Either <span><a href="/login">log in</a></span> or create new account.</p>
  <% else %>
    <p>Create new account</p>
<% end %>

<form class="" action="/users" method="post">
<p></p>
<!-- <input type="text" name="email" value="" placeholder="email">
<p></p> -->
<input type="text" name="email" value="" placeholder=" new email">
<p></p>
<input type="password" name="password" value="" placeholder="password">
<p></p>
<button>Submit</button>
</form>
</div>
